{% extends 'personalPage.html' %}
{% load static %}


{% block image %} {% static 'img/company.png' %} {% endblock %}
{% block caption %} Ваша компания {% endblock %}
{% block sub_caption %} Здесь Вы можете заполнить информацию о своей компании для выставления счёта. {% endblock %}
{% block pre_form %}<h4 class="mb-3" >Реквизиты</h4>{% endblock %}
{% block form_submit_name %}Сохранить {% endblock %}
{% block form_class%}col-12 order-md-2{% endblock %}
{% block input_class%}col-md-4 mb-3{% endblock %}

